.name{
    background-color: aquamarine;
    border: dotted 5px;
    opacity:100%;
    border:dashed 5px;

}
body{
    background-color: blanchedalmond;
}
.uppercase{
    text-decoration:underline;
    line-height: 4;
    text-shadow: 2px 2px 2px  red ;
}
.mux{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
